{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "65a8cba0-2e05-4923-aead-4516b9dfb988"}
:block/parent 
{:block/uuid #uuid "65a8cba0-2e05-4923-aead-4516b9dfb988"}
:block/properties 
{}
:block/uuid #uuid "65a8cbc6-4252-4f42-b730-42ccb82bf78d"} 
{:block/created-at 1705561033132
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "65a8cbc6-4252-4f42-b730-42ccb82bf78d"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c6eaa160-b5ce-11ee-8425-e3c5fa39b8cc"
:noFill false
:point [1448 392]
:parentId "65a8cba0-2e05-4923-aead-4516b9dfb988"
:collapsedHeight 0
:nonce 1705561020028}}
:block/updated-at 1705561033132})
:pages (
{:block/uuid #uuid "65a8cba0-2e05-4923-aead-4516b9dfb988"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "65a8cba0-2e05-4923-aead-4516b9dfb988"
:name "65a8cba0-2e05-4923-aead-4516b9dfb988"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("c6eaa160-b5ce-11ee-8425-e3c5fa39b8cc")}}
:block/updated-at 1705561034694
:block/created-at 1705560992755
:block/type "whiteboard"
:block/name "65a8cba0-2e05-4923-aead-4516b9dfb988"
:block/original-name "65a8cba0-2e05-4923-aead-4516b9dfb988"})}